:root {
  --beige: #ffdac6;
  --light-orange: #e0b7a3;
  --pink: #a560480f;
  --light-green: #a1714d;
}
html {
  box-sizing: border-box;
}
body {
  background-color: var(--beige);
  background-image: url('../pictures/bg.jpg');
  background-size: 100vw;
  display: flex;
  min-height: 100vh;
}
h1 {
  font-family: 'Saira Condensed', sans-serif;
  color: var(--light-green);
  margin: 0 200px 50px;
  text-align: justify;
  font-size: 22px;
}
h2 {
  font-family: 'Saira Condensed', sans-serif;
  color: var(--light-green);
}
a {
  color: white;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: transparent;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0 0; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  writing-mode: vertical-lr;
  margin-left: 20px;
  transform: rotate(180deg);
}

/* The navigation menu links */
.sidenav a {
  font-family: 'Codystar', cursive;
  font-weight: 900;
  padding: 0 0;
  text-decoration: none;
  font-size: 8vh;
  color: var(--light-green);
  display: inline;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgba(144, 169, 79);
}

.main-container {
  transition: margin-left 0.5s;
  width: 100%;
  flex-direction: row;
}
.across-panel {
  flex-direction: row;
  height: 300px;
  margin-left: 0;
  background-color: var(--pink);
}
.border {
  border-top: 10px solid var(--pink);
  border-bottom-style: 0;
}

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 300px;
  justify-content: space-evenly;
  width: 70%;
  margin: auto;
  background-color: var(--light-orange);
  border: 0px solid white;
  border-radius: 50%;
}
.image {
  width: 15vw;
  height: auto;
  transition: all 1s;
}

.image:hover {
  background-color: rgba(144, 169, 79, 0.867);
  border: 0px solid white;
  border-radius: 30%;
}

.main-info {
  background-color: #e3c0af80;
  text-align: justify;
  font-family: 'Saira Condenses', sans-serif;
  font-size: 20px;
  border-top: 7px solid var(--light-green);
  border-bottom: 7px solid var(--light-green);

  border-right: none;
  border-left: none;
  padding: 30px 30px;
  margin: 100px 200px;
}
.main-text {
  color: rgb(67, 44, 26);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: justify;
  margin-right: 200px;
  font-family: 'Saira Condenses', sans-serif;
  font-size: 20px;
  border-top: 7px solid var(--light-green);
  border-bottom: 7px solid var(--light-green);
  border-style: dotted;
  border-right: none;
  border-left: none;
  padding: 30px 0;
  margin: 0 200px 50px;
}

.tech-images {
  display: inline-block;
  width: 100%;
  margin: auto;
  border: 5px solid orange;
  padding: 4vh 0;
  margin-top: 2vh;
}
.tech-images img {
  height: 40vh;
  width: auto;
  margin: 0 4.5vw;
}
.face {
  display: flex;
  width: 25vw;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.code {
  background-color: #efded6;
  color: #a1714d;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  h1 {
    justify-content: space-evenly;
    font-size: 1.4vh;
    margin-left: 120px;
  }
}
@media (max-width: 767.98px) {
  h1 {
    justify-content: space-evenly;
    font-size: 1.6vh;
    margin-left: 130px;
  }
  .main-text {
    flex-direction: column;
  }
}

@media (max-width: 991.98px) {
  h1 {
    justify-content: space-evenly;
    font-size: 1.5vw;
    margin-left: 140px;
  }
  .main-text {
    flex-direction: column;
  }
}

@media (max-width: 1199.98px) {
  h1 {
    justify-content: space-evenly;
    font-size: vw;
    margin-left: 180px;
  }
}
