:root {
  --beige: #fff5eb;
  --orange: #f4c7ab;
  --green: #b2b8a3;
}
a:link,
a:visited {
  color: black;
}
.home-buttons {
  margin: 68px 10px;
  padding: 10px 120px 10px 120px;
  background-color: transparent;
  border: 1px solid black;
}

.table {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  font-family: 'Raleway', sans-serif;
}

.main-img {
  width: 555px;
  height: auto;
  float: left;
  margin-left: 100px;
}

body {
  background: var(--beige);
  background-image: url('../pictures/Background-2.jpg');
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  color: black;
  font-size: 50pt;
  font-family: 'Raleway', sans-serif;
}
p {
  text-align: justify;
  width: 565px;
  font-family: 'Raleway', sans-serif;
  margin-left: 200px;
}

img {
  width: 100%;
  display: block;
}

table {
  width: 100%;
}
th {
  width: 50%;
  text-align: justify;
  padding: 0px 10px 100px 10px;
}
